

/*
header {
    background-color:rgba(140, 59, 22, 0.429);
    padding: .5rem;
    margin: .5 .5 .5rem 0; 
    position: static;
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    

    .box {
        background-image: url(headerback.jpg);
        background-repeat: repeat;
       height: 5rem;
       width: auto ;
       display: flex ; 
       justify-content: center;
       align-items: center;
      }
}

#nav-image-container {
    display: flex ;
    margin-top: 1rem
}

#logo {
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 7rem;
    height: 5rem;
    margin-right: 1rem;
  }


#nav-container {
    background-color:rgba(113, 130, 111, 0.429);
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

nav {
    padding: 0 1rem 0 1rem;
    flex: 1;
    display: flex;
}

.horizontal-nav-list {
    flex: 1;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #83a17d;
}

.horizontal-nav-list li {
    float: inline-start;
}

.horizontal-nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size:20px
}

.horizontal-nav-list li a:hover {
    background-color: rgba(140, 59, 22, 0.429);
}


#content {
    background-color:rgba(113, 130, 111, 0.429);
    padding: 1rem;
    border-color: rgba(9, 56, 76, 0.746);
    border-width: 10px;
    border-style: double ;
    flex : 1;
    margin-left: 0.5rem;
    font-size: 20px

} 

#aboutme-img {
    
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 30rem;
    height: auto;

  }

  #content-image-container{
    display: flex;
    margin-right: auto;
    margin-top: 1rem;
    
  }
  

h1 {  
    font-family:  sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

