
html {background-color: #090c0827;}

header {
    background-color:rgba(140, 59, 22, 0.429);
    padding: .5rem;
    margin: .5 .5 .5rem 0; 
    position: static;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: bold;
     font-family: "Playwrite GB S", cursive;
        font-optical-sizing: auto;
        
      }
      

    .box {
        background-image: url(headerback.jpg);
        background-repeat: repeat;
       height: 5rem;
       width: auto ;
       display: flex ; 
       justify-content: center;
       align-items: center;
      }

 

#nav-image-container {
    display: flex ;
    margin-top: 1rem
}

#logo {
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 7rem;
    height: 5rem;
    margin-right: 1rem;
  }


#nav-container {
    background-color:rgba(113, 130, 111, 0.429);
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    
}

nav {
    padding: 0 1rem 0 1rem;
    flex: 1;
    display: flex;
}

.horizontal-nav-list {
    flex: 1;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #83a17d;
}

.horizontal-nav-list li {
    float: inline-start;
}

.horizontal-nav-list li a {
    display: block;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size:20px;
    font-family: "funnel display";

}

.horizontal-nav-list li a:hover {
    background-color: rgba(140, 59, 22, 0.429);
}






#content-image-container {
    display: flex;
    margin-top: 1rem;
}





#content {
    background-color:rgba(113, 130, 111, 0.429);
    padding: 1rem;
    border-color: rgba(46, 31, 4, 0.746);
    border-width: 10px;
    border-style: double ;
    flex : 1;
    font-size: 22px;
    font-family: "funnel display";
} 

#homepage-img {
    
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    margin-left: 0.5rem;
    padding: .5rem;
    width: 40rem;
    height: auto
  }


h1 {  
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-family: "funnel display";

}

h2{
    font-family: "funnel display";
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 600;
    font-style:  normal;
    text-align: center;  
    display: block; 
    background-color:#83a17d
    
}

#recentposts-img-container {
    font-family: "funnel display";
    font-optical-sizing: auto;
    font-weight: 600;
    
    

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5%;
    
}

.image-container {
    width: min-content;
}

.recentposts-img{
    height: 15rem;
    width: 15rem;
    border: 10px solid rgba(140, 59, 22, 0.429); 
}

.img-caption {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: "funnel display";
}






/* About me section */

#nav-image-container {
    display: flex ;
    margin-top: 1rem
}

#about-me-logo {
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 7rem;
    height: 5rem;
    margin-right: 1rem;
  }


#about-me-nav-container {
    background-color:rgba(113, 130, 111, 0.429);
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    font-family: "funnel-display";
}


#aboutme-img {
    
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 30%;
    height: auto;
    margin-right: 0.5rem;

  }

  #about-me-content-image-container{
    display: flex;
    margin-right: auto;
    margin-top: 1rem;
    
  }
  

h1 {  
    font-family:  "funnel-display";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

/*blog page */

    #blog-image-container {
        font-family: "funnel display";
        font-optical-sizing: auto;
        font-weight: 600;
        
        
        display:auto;
        grid-template-columns: repeat (2, 1fr);
        column-gap: 4%;
        padding-top: 2rem;
        padding-left: 2rem;
        
    }
    
    .blogimage-container {
        width: auto;
       
    }
    
    .blog-img{
        height: 25rem;
        width: 25rem;
        border: 10px solid rgba(140, 59, 22, 0.429); 
    }
    
    .blogimg-caption {
        text-align: right;
        font-size: 25px;
        font-family: "funnel display";
        
    }

/*Contact me Page*/

table {
    border: black 4px solid;
    text-align: center;
    font-family: "funnel display";
    background-color: #81937e69;
    font-size:2rem;
    padding-bottom:5rem;
    padding-top: 5rem;

    
}

td {
    border: black 3px solid
}

th {
    margin-top:3px;
    font-size: 3rem;
}

form {
    border:black 4px solid;
    height:10rem;
    padding:3rem;
    padding-top:5rem;
    text-align: center;
    font-family: "funnel display";
    font-size:20px;
}


#form-table-container {
    display:grid;
    margin-top:3rem;
    column-gap: 10%;
  
}