header {
    background-color:rgba(140, 59, 22, 0.429);
    padding: .5rem;
    margin: .5 .5 .5rem 0; 
    position: static;
    color: white;
    font-size: 70px;
    font-weight: bold;
     font-family: "Playwrite GB S", cursive;
        font-optical-sizing: auto;
        
      }
      

    .box {
        background-image: url(headerback.jpg);
        background-repeat: repeat;
       height: 5rem;
       width: auto ;
       display: flex ; 
       justify-content: center;
       align-items: center;
      }

 

#nav-image-container {
    display: flex ;
    margin-top: 1rem
}

#logo {
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 7rem;
    height: 5rem;
    margin-right: 1rem;
  }


#nav-container {
    background-color:rgba(113, 130, 111, 0.429);
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    
}

nav {
    padding: 0 1rem 0 1rem;
    flex: 1;
    display: flex;
}

.horizontal-nav-list {
    flex: 1;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #83a17d;
}

.horizontal-nav-list li {
    float: inline-start;
}

.horizontal-nav-list li a {
    display: block;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size:20px;
    font-family: "funnel display";

}

.horizontal-nav-list li a:hover {
    background-color: rgba(140, 59, 22, 0.429);
}






#content-image-container {
    display: flex;
    margin-top: 1rem;
}





#content {
    background-color:rgba(113, 130, 111, 0.429);
    padding: 1rem;
    border-color: rgba(46, 31, 4, 0.746);
    border-width: 10px;
    border-style: double ;
    flex : 1;
    font-size: 22px;
    font-family: "funnel display";
} 

#homepage-img {
    
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    margin-left: 0.5rem;
    padding: .5rem;
    width: 40rem;
    height: auto
  }


h1 {  
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-family: "funnel display";

}

h2{
    font-family: "funnel-display";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style:  normal;
    text-align: center;  
    display: block; 
    background-color:#83a17d
    
}

#recentposts-img-container {
    font-family: "funnel-display";
    font-optical-sizing: auto;
    font-weight: 600;
    

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5%;
}

.image-container {
    width: min-content;
}

.recentposts-img{
    height: 15rem;
    width: 15rem;
}

.img-caption {
    display: block;
    text-align: center;
}






/* About me section */

#nav-image-container {
    display: flex ;
    margin-top: 1rem
}

#about-me-logo {
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 7rem;
    height: 5rem;
    margin-right: 1rem;
  }


#about-me-nav-container {
    background-color:rgba(113, 130, 111, 0.429);
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}


#aboutme-img {
    
    background: rgba(140, 59, 22, 0.429);
    border: 1px solid #9799a7;
    padding: .5rem;
    width: 30%;
    height: auto;
    margin-right: 0.5rem;

  }

  #about-me-content-image-container{
    display: flex;
    margin-right: auto;
    margin-top: 1rem;
    
  }
  

h1 {  
    font-family:  "funnel-display";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

